apiTDRi/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
apiTDRi/obj/Debug/net8.0/apiTDRi.AssemblyInfo.cs
apiTDRi/obj/Debug/net8.0/apiTDRi.AssemblyInfoInputs.cache
apiTDRi/obj/Debug/net8.0/apiTDRi.assets.cache
apiTDRi/obj/Debug/net8.0/apiTDRi.csproj.AssemblyReference.cache
apiTDRi/obj/Debug/net8.0/apiTDRi.GeneratedMSBuildEditorConfig.editorconfig
apiTDRi/obj/Debug/net8.0/apiTDRi.GlobalUsings.g.cs
