apiTDRi/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
apiTDRi/obj/Debug/net8.0/apiTDRi.AssemblyInfo.cs
apiTDRi/obj/Debug/net8.0/apiTDRi.AssemblyInfoInputs.cache
apiTDRi/obj/Debug/net8.0/apiTDRi.assets.cache
apiTDRi/obj/Debug/net8.0/apiTDRi.csproj.AssemblyReference.cache
apiTDRi/obj/Debug/net8.0/apiTDRi.GeneratedMSBuildEditorConfig.editorconfig
apiTDRi/obj/Debug/net8.0/apiTDRi.GlobalUsings.g.cs
apiTDRi/bin/Debug/net8.0/apiTDRi.deps.json
apiTDRi/bin/Debug/net8.0/apiTDRi.dll
apiTDRi/bin/Debug/net8.0/apiTDRi.exe
apiTDRi/bin/Debug/net8.0/apiTDRi.pdb
apiTDRi/bin/Debug/net8.0/apiTDRi.runtimeconfig.json
apiTDRi/bin/Debug/net8.0/appsettings.Development.json
apiTDRi/bin/Debug/net8.0/appsettings.json
apiTDRi/bin/Debug/net8.0/Microsoft.AspNetCore.OpenApi.dll
apiTDRi/bin/Debug/net8.0/Microsoft.OpenApi.dll
apiTDRi/bin/Debug/net8.0/Swashbuckle.AspNetCore.Swagger.dll
apiTDRi/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerGen.dll
apiTDRi/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerUI.dll
apiTDRi/obj/Debug/net8.0/ref/apiTDRi.dll
apiTDRi/obj/Debug/net8.0/refint/apiTDRi.dll
apiTDRi/obj/Debug/net8.0/staticwebassets/msbuild.build.apiTDRi.props
apiTDRi/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.apiTDRi.props
apiTDRi/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.apiTDRi.props
apiTDRi/obj/Debug/net8.0/apiTDRi.csproj.CopyComplete
apiTDRi/obj/Debug/net8.0/apiTDRi.csproj.CoreCompileInputs.cache
apiTDRi/obj/Debug/net8.0/apiTDRi.csproj.FileListAbsolute.txt
apiTDRi/obj/Debug/net8.0/apiTDRi.dll
apiTDRi/obj/Debug/net8.0/apiTDRi.genruntimeconfig.cache
apiTDRi/obj/Debug/net8.0/apiTDRi.MvcApplicationPartsAssemblyInfo.cache
apiTDRi/obj/Debug/net8.0/apiTDRi.MvcApplicationPartsAssemblyInfo.cs
apiTDRi/obj/Debug/net8.0/apiTDRi.pdb
apiTDRi/obj/Debug/net8.0/apiTDRi.sourcelink.json
apiTDRi/obj/Debug/net8.0/apphost.exe
apiTDRi/obj/Debug/net8.0/staticwebassets.build.json
